@using Microsoft.AspNetCore.Identity
@using Group_BeanBooking.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Group_BeanBooking.Areas.Customers.Models.Bookings.Create

@{
    var current = UserManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);

}

@*<script src="~/js/customers/customercreate.js"></script>*@
<input id="RestaurantId" type="hidden" asp-for="RestaurantId" value="@Model.RestaurantId"/> 
    


<form method="post">
        <div>

            <h1>Welcome to @Model.RestaurantName</h1>

            @if (User.Identity.IsAuthenticated)
            {
                <h3>Booking will be under </h3>
                <h3>@current.FirstName @current.LastName</h3>
                <input type="hidden" asp-for="UserId" value="@current.Id" />
                <input type="hidden" asp-for="Email" value="@current.Email" />
            }
            else
            {
                <!--this is the section for customer information -->
                <h3>Customer Information</h3> <br />
                <input asp-for="FirstName" placeholder="First Name" required="First Name cannot be empty" />

                <br />
                @*<input asp-for="MiddleName" placeholder="Middle Name" /><br />*@
                <input asp-for="LastName" placeholder="Family Name" required="Family name cannot be empty" />

                <br />
                <input asp-for="PhoneNumber" type="tel" placeholder="Contact Details" required="Telephone is required, cannot be empty" />

                <br />
                <input asp-for="Email" type="email" placeholder="email" required="email is required to send you confirmation and updates, cannot be empty" />

                <br />
            }

        </div>

        <div>
            <!--This is the section for the booking details-->
            <br />
            <h3>Booking Information</h3> <br />

            <div id="BookingVariables">

                <label asp-for="Starttime">Booking time</label>
                <input id="Date" type="datetime-local" asp-for="Starttime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@DateTime.Now.AddDays(90).ToString("yyyy-MM-ddTHH:mm")" /><br /><br />
                
                <label asp-for="Duration">Booking length</label>
                <input id="duration" type="number" asp-for="Duration" min="30" max="180" value="30" /><br /><br />

                <label asp-for="Guests">Guests</label>
                <input id="guests" type="number" asp-for="Guests" min="1" max="100" value="1" /> <br /><br />
                <!--Max property should include the sum of all the customers for all bookings at the same time in a restaurant and dinning area-->
                
            
            </div>

                  <div id="UserAlert" class="" role="alert" style="display: none"></div>
            

            <div id="BookingDetails" style="display: none">


                <label asp-for="SittingId">What menu?</label><br />
                <select asp-for="SittingId" id="MenuType">
                    <option value="">Select One</option>
                </select>

                <br /><br />
            
                <label asp-for="RestaurantAreaId">Where to sit?</label><br />
                <select asp-for="RestaurantAreaId" asp-items="@Model.SittingAreaList">Select One</select><br /> <br />

                <label asp-for="Comments">Comments</label><br />
                <input asp-for="Comments" type="text" width="150" height="300" maxlength="200" />

            </div>
            


        </div>

        <br /><br /><input id="submit" type="submit" value="Create" class="btn btn-primary" disabled="disabled"/>


</form>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="/js/customers/customercreate.js"></script>
}


