@using Microsoft.AspNetCore.Identity
@using Group_BeanBooking.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Group_BeanBooking.Areas.Customers.Models.Bookings.Details;

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<head>

</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <h1>Welcome to your bookings</h1>
        </div>
    }
    else
    {
        <form method="post">
            <div>
                <h1>Welcome to your bookings</h1>
                <label>Type in your email to search booking</label>
                <br />
                <input type="text" asp-for="Email" value="">
                <button asp-area="Customers" asp-controller="Bookings" asp-action="Details">Search</button>
            </div>

        </form>
    } <br /><br />


    @try
    {
        if (Model.Reservations.Count != 0)
        {
            
            <div>
                <table border="1">
                    <th>Sitting Type</th>
                    <th>Customer Name</th>
                    <th>Date & time</th>
                    <th>Guests</th>
                    <th>Place</th>
                    <th>Other Actions</th>

                    <tbody>
                        @foreach (var p in Model.Reservations)
                        {
                            <tr>
                                <td>@p.Sitting.Name</td>
                                <td>@p.Person.FirtName @p.Person.LastName</td>
                                <td>@p.Start</td>
                                <td>@p.Guests</td>
                                <td>@p.Sitting.Restaurant.Name</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@p.Id"> Edit</a>||
                                    <a asp-action="Delete" asp-route-id="@p.Id"> Delete</a>
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div>
                
                <h4>You do not have any bookings yet.</h4>
            </div>
        }

    }
    catch (Exception ex)
    {

    }
    

    <br /><br /><a asp-area="" asp-controller="Home" asp-action="Index">Make booking</a>
    

    



   

</body>