@{
    ViewData["Title"] = "Privacy Policy";
    var imageWidth = "40px";
}


@*<h1>@ViewData["Title"]</h1>*@

<h4>This page contains the link to acknowledge the creator of each one of the icons used</h4>

@*<p>Use this page to detail your site's privacy policy.</p>*@

<div class="col">
    
    

    <a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Freepik - Flaticon
        <img src="~/images/icons/login.png" style="width: @imageWidth" />
    </a>

    <a href="https://www.flaticon.com/free-icons/out" title="out icons">Out icons created by Freepik - Flaticon
        <img src="~/images/Icons/log-out.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/add-friend" title="add friend icons">Add friend icons created by Freepik - Flaticon
        <img src="~/images/Icons/register.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/list" title="list icons">List icons created by Freepik - Flaticon
        <img src="~/images/Icons/myBookings.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/staff" title="staff icons">Staff icons created by Smashicons - Flaticon
        <img src="~/images/Icons/staff.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/new-file" title="new file icons">New file icons created by Creatype - Flaticon
        <img src="~/images/icons/add-file.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons">Calendar icons created by Freepik - Flaticon
        <img src="~/images/icons/schedule.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/registration" title="registration icons">Registration icons created by flatart_icons - Flaticon
        <img src="~/images/icons/profile.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/brochure" title="brochure icons">Brochure icons created by SBTS2018 - Flaticon
        <img src="~/images/icons/menu.png" style="width: @imageWidth" />
    </a>
    <br /> 
    <a href="https://www.flaticon.com/free-icons/blueprint" title="blueprint icons">Blueprint icons created by Freepik - Flaticon
        <img src="~/images/icons/blueprint.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Maxim Basinski Premium - Flaticon
        <img src="~/images/icons/search.png" style="width: @imageWidth" />
    </a>
    <br />
    <a href="https://www.flaticon.com/free-icons/clear-filter" title="clear-filter icons">Clear-filter icons created by Freepik - Flaticon
        <img src="~/images/icons/clear-filter.png" style="width: @imageWidth" />
    </a>



</div>
